.cart {
  display: flex;
  flex-direction: column;
  padding: 110px 100px;
  align-items: center;
  justify-content: space-around;
}

.cart__price {
  padding: 10px;
  margin-top: 25px;
  background-color: rgba(7, 2, 2, 0.685);
  text-align: center;
}

.cart__table {
  padding: 20px;
  border-collapse: collapse;
  background-color: rgba(92, 30, 30, 0.342);
}

.cart_table tr,
td {
  width: 300px;
  padding: 20px;
  border: 2px solid;
}

.table__head {
  background-color:rgba(119, 48, 48, 0.993);
}

.del_button {
  padding: 10px;
  background-color: lightcoral;
  border: none;
}
.del_button:hover {
  background-color: mistyrose;
}
