.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

.slogan__title_3 {
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-align: center;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
  color: #333;
  margin-top: -40px;
}
.menu__item {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}

.menu__item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0);
}

.menu__title {
  font-size: 150%;
  font-style: bold;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}
.menu__desc {
  padding-right: 60px;
  padding-left: 60px;
}

.menu__pic {
  max-width: 80%;
}

.add {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
