.delivery__form {
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  width: 65%;
}

.delivery__form__table {
  table-layout: fixed;
  border-collapse: collapse;
}

.delivery__form__table__item {
  display: inline-block;
  width: 205px;
  border: 2px solid white;
  padding: 5px;
}

.form {
  background-color: rgba(110, 34, 34, 0.897);
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.form__field {
  height: 30px;
}

.form__field:disabled {
  color: black;
  background-color: rgba(255, 239, 217, 0.705);
}

.form__pay {
  background-color: rgba(110, 34, 34, 0.897);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}

.form__cell {
  display: flex;
  flex-direction: row;
}
