* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 18px sans-serif;
  color: #fff;
  background-color: rgb(37, 37, 37);
  background-image: url(./assets/img/pizza2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 20px 46px;
  border-radius: 4px;
  background-color: indianred;
  font-weight: 800;
  text-align: center;
}

.button:hover {
  background-color: lightcoral;
}

.menu__button {
  margin-top: 20px;
  bottom: 0;
  font-size: 130%;
  padding: 10px 42px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
}
.container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add_button {
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 10px 42px;
  border-radius: 4px;
  background-color: indianred;
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
}

.add_button:hover {
  background-color: lightcoral;
}

.delivery_button{
  background-color:rgb(84, 168, 0);
  padding:15px;
}